.section-title {
  width: 60%;
  margin: 0 auto;
  padding: 100px 0 20px 0;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  text-align: center;
}

.section-title_theme_dark {
  color: white;
}
