.footer__column-links{
    list-style: none;
    margin-bottom: 16px;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }