.kaufman__triangle {
  background-image: url(../../../images/kaufman-triangle.svg);
  background-size: cover;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  width: 867px;
  height: 787px;
}
