.header__title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 730px;
  padding-left: 64px;
  margin-block: 0;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 2;
}
