.color_dark-gray {
  color: #1f1f1f
}

.color_dark-gray-background {
  background-color: #1f1f1f;
}

.color_gray {
  color: #f2f2f2
}

.color_gray-background {
  background-color: #f2f2f2;
}

.color_blue {
  color: #2f80ed;
}

.color_blue-background {
  background-color: #2f80ed;
}

.color_white {
  color: #fff
}

.color_white-background {
  background-color: #ffffff;
}


.color_black {
  color: #000
}

.color_black-background {
  background-color: #000;
}
