.description {
  margin: 100px auto;
}

.two-columns {
  display: flex;
  margin: auto;
  
  justify-content: space-between;

  width: 80%;
}

.two-columns__brief {
  display: inline-block;

  width: 175px;
  height: 100%;
}

.two-columns__brief_font_size {
  line-height: 1.2;
  font-weight: 400;
  font-size: 18px;
}

.two-columns__main-text {
  display: inline-block;

  right: 0px;

  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin-bottom: 30px;
}

.two-columns__paragraph_text_size {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__span-accent {
  font-size: 24px;
  margin-bottom: 30px;
  font-weight: 600;
}