.feynman {
  position: relative;

  width: 100%;
  height: 890px;
}

.feynman__title {
  position: relative;

  margin: auto;
  margin-top: 100px;

  width: 648px;

  text-align: center;

  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;

  z-index: 1;
}

.feynman__subtitle {
  position: relative;

  margin: auto;
  margin-top: 70px;

  width: 648px;

  text-align: center;
  line-height: 52px;
  font-size: 36px;
  font-weight: 400;
  
  z-index: 1;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 40px;

  text-decoration: none;

  line-height: 52px;
  font-size: 36px;
  font-weight: 400;
  
  color: #2f80ed;
}

.feynman__main-illustration {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 867px;
  height: 637px;
}