
.header {
  display: flex;

  position: relative;

  height: 100vh;
  min-height: 600px;
  max-height: 756px;
}

.header__title {
  margin: auto;
  margin-left: 64px;

  width: 730px;
}

.header__title_font_size {
  line-height: 92px;
  font-size: 102px;
  font-weight: 600;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
}

.header__subtitle_font_size {
  line-height: 25px;
  font-size: 18px;
  font-weight: 400;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;

  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0px;

  height: 568px;
  width: 568px;

}