/* Общие стили */
.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/* Header */
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  background-image: url("image/logo_place_header");
  width: 228px;
  height: 32px;
  top: 30px;
  left: 64px;
  background-size: cover;
}

.header__title {
  margin: 0;
  padding: 0;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  margin-left: 64px;
  max-width: 730px;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  max-width: 388px;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 765px;
  height: 608px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  width: 568px;
  height: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

/* Description */
.description {
  display: flex;
  justify-content: center;
  padding: 100px 0;
}

/* Two Columns Section */
.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  width: 175px;
  font-size: 18px;
  color: #2f80ed;
  margin: 0;
  line-height: 1.2;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  font-size: 24px;
  line-height: 34px;
  margin: 0 0 30px;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: 600;
}

/* Digits Section */
.digits {
  padding: 100px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title,
.section-subtitle {
  width: 60%;
  text-align: center;
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0 0 20px;
}

.section-subtitle {
  font-size: 24px;
  line-height: 34px;
  margin: 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0 0 20px;
}

.table__text {
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 20px;
}



/* Feynman */
.feynman {
  background-color: #f2f2f2;
  position: relative;
  background-image: url('images/feynman.png');
  height: 690px; 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 100px;
}

.feynman__title {
  width: 648px;
  text-align: center;
  font-size: 120px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0;
  z-index: 2;
}

.feynman__subtitle {
  font-size: 36px;
  line-height: 51px;
  margin: 0;
  padding: 70px;
  z-index: 2;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  font-size: 36px;
  line-height: 1.15;
  color: #2f80ed;
  z-index: 2;
}

.feynman__image {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 637px;
  width: 867px;
  z-index: 1;
}

.kaufman {
  background-color: #1f1f1f;
  position: relative;
  text-align: center;
  overflow: hidden;
  padding: 90px;
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.section-subtitle_theme_dark {
  color: white;
  max-width: 60%;
  margin: 0 auto;
}

.section-title_theme_dark {
  color: white;
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0px auto 20px;
  max-width: 60%;
}

.section-subtitle_theme_dark {
  font-size: 24px;
  line-height: 1.15;
  margin: 0;
}

.table_theme_dark {
  color: white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  width: 1100px;
  margin: 0 auto;
  z-index: 2;
}

.table__cell_theme_dark {
  width: 200px;
  margin-top: 65px;
  z-index: 2;
}

.table__heading_theme_dark {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;
  margin: 0 0 20px;
  text-align: left;
  z-index: 2;
}

.table__text_theme_dark {
  font-size: 18px;
  line-height: 1.2;
  margin: 0 0 20px;
  text-align: left;
  z-index: 2;
}

.kaufman__triangle {
  position: absolute;
  top: 0;
  right: -210px;
  width: 877px;
  height: 877px;
  background-size: cover;
  z-index: 1;
}

/* Footer */
.footer {
  background-color: #1f1f1f;
  color: white;
  padding: 60px 0 40px;
  max-height: 350px;
  box-sizing: border-box;
}

.footer__columns {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background-image: url('images/logo_place_footer.svg');
  background-size: cover;
  width: 228px;
  height: 32px;
  position: absolute;
}

.footer__author {
  bottom: 1000px;
  font-size: 18px;
  margin-top: 200px;
}

.footer__column-heading {
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 20px;
  font-weight: 600;
}

.footer__column-links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer__column-link {
  font-size: 18px;
  line-height: 30px;
  color: white;
  text-decoration: none;
  display: flex; 
  align-items: center;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}