@keyframes rotation {
  from {
    transform: rotate(0)
  }

  to {
    transform: rotate(360deg)
  }
}

* {
  border: 1px solid red;
}

html, body {
  margin: 0;
  min-height: 100%;
}

/* Общие правила */
.page {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  background-color: #f2f2f2;
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
}

.project {
  background-position: center;
  background-size: cover;
}

/* Блок Header */
.header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  overflow: hidden;
}

.logo {
  height: 32px;
  width: 228px;
  z-index: 3;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url(../images/logo_place_header.svg);
}

.header__title {
  margin: 0 0 0 64px;
  width: 730px;
  font-size: 102px;
  font-weight: 600;
  line-height: 96px;
  z-index: 3;
}

.header__subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 2;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.header__link:hover {
  opacity: 0.7;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 608px;
  width: 765px;
  z-index: 1;
}

.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  animation: linear infinite rotation 20s;
}

/* Блок Content */
.content {
  background-color: white;
}

.text-zero_indent {
  margin: 0;
  padding: 0;
}

/* Блок Description */
.description {
  padding: 100px 0 0;
  min-height: 60%;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
}

.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;
  color: #2f80ed;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.two-columns__paragraph {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.two-columns__main-text {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__span-accent {
  font-weight: 600;
}

.techniques {
  margin: 100px auto 0;
  padding: 0;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

}

.cards {
  width: 920px;
}

.cards__row {
  gap: 100px;
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.cards__item {
  width: 240px;
  display: flex;
  flex-direction: column;
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 60px 40px 43px;
  border-radius: 50%;
}

.cards__title {
  margin: 0 0 16px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.cards__description {
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
}

/* Блок Digits */
.digits {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 100px;
  min-height: 60%;
}

.section-title {
  margin: 0 auto 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;

}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

/* Блок Flex Table */
.table {
  margin: 0;
  padding: 0;
  width: 1100px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.table__row {
  padding: 60px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.table__cell {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  gap: 20px;
}

.table__cell_theme_light {
  width: 250px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.video {
  margin: 0 auto -60px;
  padding: 100px 0 0;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.video__iframes {
  margin: 50px auto 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
}

.video__iframe {
  width: 515px;
  height: 316px;
}

.oakley {
  background-color: #f2f2f2;
  padding: 160px 0 0;
  min-height: 60%;
  display: flex;
  justify-content: center;
}

/* Блок Feynman */
.feynman {
  background-color: #f2f2f2;
  height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.feynman__main-illustration  {
  width: 867px;
  height: 637px;
  position: absolute;
  left: 0;
  bottom: 0;
}

.feynman__title {
  margin: 0 0 70px;
  width: 648px;
  top: 100px;
  position: absolute;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  z-index: 1;
}

.feynman__subtitle {
  z-index: 1;
  font-size: 36px;
  font-weight: normal;
  line-height: 51px;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  z-index: 1;
  transition: opacity 0.3s ease;
}

.feynman__link:hover {
  opacity: 0.7;
}

.khan {
  background-color: #f2f2f2;
  padding: 105px 0 0;
}

.khan__container {
  margin: 0 auto;
  width: 80%;
  display: flex;
  flex-direction: column;
}

.khan__autor {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
}

.khan__title {
  margin: 0 0 50px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.khan__quote {
  width: 790px;
  margin: 0 0 36px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.khan__quote-autor {
  margin: 0 0 10px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.khan__quote-autor-subline {
  margin: 0 0 68px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
}

.khan__book-container {
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 48px;
}

.khan__book-pic {
  width: 620px;
  height: 608px;
  object-position: left top;
  object-fit: cover;
}

.khan__buy-link {
  list-style: none;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
}

.khan__buy-link_text {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  color: #2f80ed;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.khan__buy-link_text:hover {
  opacity: 0.7;
}

/* Блок Kaufman */
.kaufman {
  position: relative;
  background-color: #1f1f1f;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 90px 0;
  overflow: hidden;
}

.section-title_theme_dark {
  margin: 0 0 20px;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
}

.section-subtitle_theme_dark {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table_theme_dark {
  margin: 0;
  padding: 0;
  width: 1100px;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}

.table__row_theme_dark {
  padding: 80px 0 0;
  justify-content: space-between;

}

.table__cell_theme_dark {
  width: 200px;
}

.table__heading_theme_dark {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  position: absolute;
  top: 0;
  right: -210px;
  animation: linear infinite rotation 20s;
}

.resources {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 100px 0 217px;
  overflow: hidden;
}

.resources__logo-zone {
  margin: 80px auto 0;
  padding: 0;
  width: 1100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.resources__link {
  width: 270px;
  height: 38px;
  transition: opacity 0.3s ease;
}

.resources__link:hover {
  opacity: 0.7;
}

.resources__link-logo {
  background-position: center;
  background-repeat: no-repeat;
}

.resources__link-arzamas{
  background-image: url(../images/logo/resources-arzamas.svg);
}

.resources__link-n1{
  background-image: url(../images/logo/resources-n1.svg);
}

.resources__link-strelka{
  background-image: url(../images/logo/resources-strelka.svg);
}

.resources__link-polka{
  background-image: url(../images/logo/resources-polka.svg);
}


/* Блок Footer */
.footer {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: start;
  background-color: #1f1f1f;
  color: white;
  padding: 60px;
  margin: 0;
  min-height: 350px;
  box-sizing: border-box;
}

.footer__columns {
  margin: 60px auto 40px;
  width: 100%;
  display: flex;
  position: relative;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: start;
}

.footer__column_content_info {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.footer__column_content_social {
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.footer__author {
  margin: 16px 0;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin: 0 0 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 30px;
}

.footer__column-links {
  display: flex;
  flex-direction: column;
  list-style: none;
  justify-content: space-between;
  margin: 0 0 16px;
  padding: 0;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  transition: opacity 0.3s ease;
}

.footer__column-link:hover {
  opacity: 0.7;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  background-size: contain;
}

.icon_name_icon-youtube {
  background-image: url(../images/youtube_color_white.svg);
}

.icon_name_icon-VK {
  background-image: url(../images/vk_color_white.svg);
}

.icon_name_icon-tiktok {
  background-image: url(../images/tiktok_color_white.svg);
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}
