@import url(../blocks/rotation/rotation.css);

/* common */

@import url(../blocks/common/two-columns/two-columns.css);
@import url(../blocks/common/two-columns/__brief/__brief.css);
@import url(../blocks/common/two-columns/__main-text/__main-text.css);
@import url(../blocks/common/two-columns/__paragraph/__paragraph.css);
@import url(../blocks/common/two-columns/__span-accent/__span-accent.css);

@import url(../blocks/common/section-title/section-title.css);
@import url(../blocks/common/section-subtitle/section-subtitle.css);

@import url(../blocks/common/section-title/_theme_dark/section-title.css);
@import url(../blocks/common/section-subtitle/_theme_dark/section-subtitle.css);

@import url(../blocks/common/table/table.css);
@import url(../blocks/common/table/__cell/__cell.css);
@import url(../blocks/common/table/__heading/__heading.css);
@import url(../blocks/common/table/__text/__text.css);

@import url(../blocks/common/table/_theme_dark/table.css);
@import url(../blocks/common/table/__cell/_theme_dark/__cell.css);

/* page */

/* page/header */

@import url(../blocks/page/page.css);
@import url(../blocks/page/header/header.css);
@import url(../blocks/page/header/logo/logo.css);
@import url(../blocks/page/header/logo/__header/__header.css);
@import url(../blocks/page/header/main-illustration/main-illustration.css);
@import url(../blocks/page/header/square-pic/square-pic.css);
@import url(../blocks/page/header/title/title.css);
@import url(../blocks/page/header/subtitle/subtitle.css);
@import url(../blocks/page/header/subtitle/__link/__link.css);

/* page/content */

@import url(../blocks/page/content/content.css);

/* page/content/descriprion */

@import url(../blocks/page/content/description/description.css);

/* page/content/techniques */

@import url(../blocks/page/content/techniques/techniques.css);
@import url(../blocks/page/content/techniques/cards/cards.css);
@import url(../blocks/page/content/techniques/cards/__description/__description.css);
@import url(../blocks/page/content/techniques/cards/__image/__image.css);
@import url(../blocks/page/content/techniques/cards/__item/__item.css);
@import url(../blocks/page/content/techniques/cards/__title/__title.css);

/* page/content/video */

@import url(../blocks/page/content/video/video.css);
@import url(../blocks/page/content/video/__iframes/__iframes.css);
@import url(../blocks/page/content/video/__iframes/__iframe/__iframe.css);

/* page/content/oakley */

@import url(../blocks/page/content/oakley/oakley.css);

/* page/content/feynman */

@import url(../blocks/page/content/feynman/feynman.css);
@import url(../blocks/page/content/feynman/__title/__title.css);
@import url(../blocks/page/content/feynman/__subtitle/__subtitle.css);
@import url(../blocks/page/content/feynman/__link/__link.css);

/* page/content/digits */

@import url(../blocks/page/content/digits/digits.css);

/* page/content/khan */

@import url(../blocks/page/content/khan/khan.css);
@import url(../blocks/page/content/khan/__container/__container.css);
@import url(../blocks/page/content/khan/__container/__author/__author.css);
@import url(../blocks/page/content/khan/__container/__book-container/__book-container.css);
@import url(../blocks/page/content/khan/__container/__book-container/__book-pic/__book-pic.css);
@import url(../blocks/page/content/khan/__container/__book-container/__buy-link/__buy-link.css);
@import url(../blocks/page/content/khan/__container/__quote/__quote.css);
@import url(../blocks/page/content/khan/__container/__quote-author/__quote-author.css);
@import url(../blocks/page/content/khan/__container/__quote-author-subline/__quote-author-subline.css);
@import url(../blocks/page/content/khan/__container/__title/__title.css);

/* page/content/kaufman */

@import url(../blocks/page/content/kaufman/kaufman.css);
@import url(../blocks/page/content/kaufman/__triangle/__triangle.css);

/* page/content/resources */

@import url(../blocks/page/content/resources/resources.css);
@import url(../blocks/page/content/resources/__logo-zone/__logo-zone.css);
@import url(../blocks/page/content/resources/__logo-zone/__link/__link.css);
@import url(../blocks/page/content/resources/__logo-zone/__link/__logo/__logo.css);

/* page/content/footer */

@import url(../blocks/page/footer/footer.css);
@import url(../blocks/page/footer/__author/__author.css);
@import url(../blocks/page/footer/__columns/__columns.css);
@import url(../blocks/page/footer/__columns/__column-heading/__column-heading.css);
@import url(../blocks/page/footer/__columns/__column-links/__column-links.css);
@import url(../blocks/page/footer/__columns/__column-links/__column-link/__column-link.css);
@import url(../blocks/page/footer/__columns/__column-links/__column-link/__social-icon/__social-icon.css);
@import url(../blocks/page/footer/__columns/__columns-content-copyright/__columns-content-copyright.css);


:root{
  --link-color: #2f80ed;
  --bg-gray-color: #f2f2f2;
  --bg-black-color:#1f1f1f;
  --text-color: #000000
}
